.loading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.body-searchresults__header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.your-search{
    margin-left: 20px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .body-searchresults__header{
        justify-content: center;
    }
}