.gifImg img{
    margin: 1.5px 0px;
    width: 100%;
    min-width: 250px;
    outline: 1px solid hsl(224, 59%, 60%);
    cursor: pointer;
    border-radius: 8px;
    transition: 0s;
}

.gifImg img:hover{
    outline: 1px solid hsl(224, 59%, 13%);
    transform: scale(.97);
}
