.trends-list{
    padding: 0;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    gap: 4px;
}

.trends-list li{
    font-size: 14px;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 12px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.trends-list li:hover{
    transition: 0s;
    transform: scale(1.03);
}

.trends-list li:nth-child(3n+1){
    background-color: #449bc4;

}

.trends-list li:nth-child(3n+2){
    background-color: rgb(85, 115, 214);;
}
.trends-list li:nth-child(3n+3){
    background-color: rgb(148, 86, 218);
}