.App-content {
  min-height: 100vh;
  background-color: hsl(243, 0%, 10%);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  

  font-size: calc(2px + 1vmin);
  color: rgb(31, 31, 31);
}

